<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5 text-center">
      <h1>404 - Page Not Found</h1>
      <p>The shortened URL you are trying to access does not exist.</p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </body>
</html>
