__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
.env
.venv
env/
venv/
ENV/
staticfiles/
downloads/
*.sqlite3
*.log
.DS_Store
